
.vs/SesiraInstitute/v16/.suo
.vs/SesiraInstitute/v16/.suo
SesiraInstitute/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SesiraInstitute/obj/Debug/SesiraInstitute.csproj.AssemblyReference.cache
SesiraInstitute/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/SesiraInstitute/v16/.suo
.vs/SesiraInstitute/config/applicationhost.config

