.Edashboard {
    background-color: rgba(204, 168, 210, 0.69);
    border-radius: 50px;
}


.Efooter {
    background-color: rgba(204, 168, 210, 0.5);
}

.Ebody {
    
}

.baseColor {
    background-color: rgba(204, 168, 210, 0.27);
    border-radius: 60px;
}

.colorBtn {
    background-color: rgba(204, 168, 210, 0.69);
    border-radius:50px;
    
}

.sidenevbar {
    background-color: rgba(204, 168, 210, 0.0);
    border-radius: 20px;
    font-weight: 800;
    font-size: 17px;
    
    text-align: left;
    width: 170px;
    padding: 9px;
    margin: 4px;
}

.sidenevbar:link {
    color: white;
}

.footstyle {
    font-weight: 500;
    font-size: 17px;
      
}




.dashbtn {
    background-color: aqua;
    border-radius: 50px;
    color: aquamarine;
    font-size: 10px;
}

.iconbtn {
    background-color: rgba(204, 168, 210, 0.69);
    border-radius: 50px;
}
.iconbtn:link{
    color:black;
}

.txtInput{
    border-radius:50px;
    background-color:white;
    color:black;
    
}

.pgHedding {
    color: rgba(204, 168, 210, 1);
}

.sectionColor {
    background-color: rgba(204, 168, 210, 1);
    border-radius: 10px;
    color:white;
    padding-bottom:10px;
    
    
}
.sectionColorsmall {
    background-color: rgba(204, 168, 210, 1);
    border-radius: 10px;
    color: white;
    margin-top:5vh;
    padding-bottom:4vh;
}

.secondoryTopic{
    color:white;
    font-weight:bold;
    font-size:16px;
    margin-left:3vh;
    margin-top:2vh;

}
.txtInputArea {
    border-radius: 20px;
    background-color: white;
    color:black;
}

.commomText {
    margin-left: 3vh;
}


.fullcolorBtn {
    background-color: rgba(184, 99, 199, 0.69);
    border-radius:60px;
}

.halfcolorBtn {
    color: rgba(184, 99, 199, 0.69);
    border-radius: 60px;
    border: 2px;
}


.BoldText{
    color:white;
    font-size:15px;
    font-weight:bold;
    padding-top:10px;
}

.NumberText{
    font-size:20px;
}
.Empcard {
    background-color: rgba(204, 168, 210, 1);
    border-radius: 10px;
    color: white;
    margin-top: 5vh;
    padding-bottom: 4vh;
    
}



.buttonCard {
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius:10px;
    background-color: #CCA8D2;
    margin-top:10px;
}


.TextTypeTextBox {
    background: transparent;
    border:none;
}


.btnCardText{
    color:white;
    margin:0px;
    
}

.btnCardTopic {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
}

.btnCardHeading {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom:15px;
    margin-top:10px;
    margin-left:5px;
}

.imgProfile{
    width:100px;
    height:100px;
}



.plusBtn {
    font-size: 20px;
    color: rgba(204, 168, 210, 1);
    border-radius:500px;
}

.notibody{
    background-color:white;
    border-radius:15px;
    padding:5px;
    margin-left:10px;
    margin-right:10px;
}

.BnotiLable {
    font-weight:bolder;
    margin: 10px;
    padding: 5px;
    color: rgba(204, 168, 210, 1);
    font-style:normal;
    font-size:15px;
}


.notiLable {
    margin: 10px;
    padding: 5px;
    color: rgba(204, 168, 210, 1);
}


.notirow {
    margin-top: 10px;
    margin-bottom: 10px;
}